<!DOCTYPE html>
<html>
<head>


    {% stylesheets
        'bundles/diaborg3/Metro-UI-CSS/min/metro-bootstrap.min.css'
        'bundles/diaborg3/Metro-UI-CSS/min/iconFont.min.css'
        'bundles/diaborg3/css/styles.css'

        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}



    {% javascripts
        '@Diaborg3Bundle/Resources/public/js/jquery-2.1.1.min.js'
        '@Diaborg3Bundle/Resources/public/js/jquery-ui-1.10.4.min.js'
        '@Diaborg3Bundle/Resources/public/Metro-UI-CSS/min/metro.min.js'
        '@Diaborg3Bundle/Resources/public/js/d3.min.js'
        '@Diaborg3Bundle/Resources/public/js/diaborg.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}



</head>
<body class="metro ">

<header class="bg-dark">
    <nav class="navigation-bar fixed-top shadow">
        <div class="navigation-bar-content">
            <a href="/" class="element"><span class="icon-grid-view"></span> Diaborg <sup>2.0</sup></a>
            <span class="element-divider"></span>


            <ul class="element-menu">
                <li><a href="{{ url('add') }}"><i class="icon-plus"></i> Add</a></li>
            </ul>
            <span class="element-divider"></span>
            <ul class="element-menu">
                <li><a href="{{ url('list') }}"><i class="icon-stats"></i> List</a></li>
            </ul>
            {#<span class="element-divider"></span>#}
            {#<ul class="element-menu">#}
                {#<li><a href="/index.php/list?print=1">Print</a></li>#}
            {#</ul>#}

        </div>
    </nav>

</header>




<div class="container">

    {% block content %}

    {% endblock %}


</div>
</body>
</html>